apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: shop
  labels:
    app: backend
    tier: backend
spec:
  replicas: 2
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        tier: backend
    spec:
      containers:
      - name: backend
        image: 252979663162.dkr.ecr.us-east-1.amazonaws.com/shop-app-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
          protocol: TCP
        env:
        - name: FRONTEND_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: FRONTEND_URL


        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: MONGODB_URI

        -name: TOKEN_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: TOKEN_SECRET_KEY

        resources:
          requests:
            cpu: "150m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3