apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: shop
  labels:
    app: frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
    name: http